.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 50px;
  padding-block: 5px;
  color: white;
  background-color: var(--foreground);
}

.user-info {
  display: flex;
}

.user-name {
  font-size: 14px;
}

.user-role {
  font-size: 12px;
}