.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 50px;
  color: white;
  background-color: var(--foreground);
}

.header h1 {
  height: 60px;
}

.logo {
  padding-block: 10px;
  height: 100%;
  width: auto;
}

.user-info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.avatar-container {
  position: relative;
  width: 35px;
  height: 35px;
  color: var(--foreground)
}

.hexagon,
.user-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.user-icon {
  padding: 8px;
}

.user-info svg {
  height: 100%;
  width: auto;
  fill: var(--primary-500);
}

.user-name {
  font-size: 14px;
}

.user-role {
  font-size: 12px;
}