.container {
  display: flex;
  width: 100%;
  overflow-x: auto;
}

.container table {
  width: 100%;
  overflow: auto;
}

.container th {
  text-align: start;
  color: var(--foreground);
  font-weight: 600;
}

.title-container {
  display: flex;
  gap: 10px;
  text-wrap: nowrap;
}

.dates {
  display: flex;
  gap: 10px;
  font-size: 14px;
  color: #8C8C8C;
}

.dates p {
  display: flex;
  gap: 2px;
  height: 14px;
  align-items: center;
  justify-content: center;
}

.dates p svg {
  height: 100%;
  width: auto;
}

.image {
  width: 50px;
  height: 50px;
  background-color: var(--gray);
  border-radius: 12px;
}

.title {
  color: var(--foreground);
  font-weight: 600;
}

.row {
  background-color: var(--row-background);
}

.row td {
  padding-block: 10px;
  padding-inline: 10px;
  border-bottom: 1px solid var(--gray);
  width: fit-content;
  height: auto;
  vertical-align: middle;
}

.users {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-inline: 10px;
}

.honey {
  aspect-ratio: 1;
  position: relative;
  display: grid;
  place-items: center;
  margin-left: -10px;
  width: 35px;
}

.honey svg {
  position: absolute;
  inset: 0;
}

.honey polygon {
  stroke: white;
  stroke-width: 4;
}

.honey span {
  letter-spacing: -1px;
  position: relative;
  font-weight: 600;
  font-size: 14px;
}

.honey:nth-child(1) {
  z-index: 35;
  fill: var(--primary-100);
}

.honey:nth-child(2) {
  z-index: 30;
  fill: var(--primary-200);

}

.honey:nth-child(3) {
  z-index: 25;
  fill: var(--primary-300);
}

.honey:nth-child(4) {
  z-index: 20;
  fill: var(--primary-400);

}

.honey:nth-child(5) {
  z-index: 15;
  fill: var(--primary-500);
}

.honey:nth-child(6) {
  z-index: 10;
  fill: var(--primary-100);
}

.kpi-container {
  display: flex;
  gap: 40px;
}

.kpi {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  color: var(--foreground);
  font-size: 14px;
}

.kpi span {
  font-weight: normal;
  margin-top: -5px;
  color: #8C8C8C
}