:root {
  --primary-100: #fff5d7;
  --primary-200: #ffecaf;
  --primary-300: #fed860;
  --primary-400: #fec510;
  --primary-500: #eeb702;
  --primary-600: #967100;
  --background: #F6F7F8;
  --foreground: #3D3D3D;
  --row-background: #FCFCFD;
  --gray: #E9E9E9
}

@font-face {
  font-family: 'Poppins';
  src: url('/Poppins-VariableFont_wght.otf');
}

* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
  background-color: var(--background);
}


.main-container {
  padding-block: 30px;
  padding-inline: 50px;
  background-color: var(--background);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main-container .sub-container {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  max-width: 2500px;
  height: 100%;
  overflow: hidden;
}

.bold {
  font-weight: 500;
}

.thin {
  font-weight: 300;
}

.foreground {
  color: var(--foreground)
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  border: none;
  padding: 0;
}

select {
  background-color: transparent;
  padding-inline: 10px;
}